/* src/components/sections/Hero.css */

.marquee-content {
  display: flex;
  align-items: center;
  height: 100%; /* Убедимся, что контент занимает всю высоту родителя */
  animation: marquee 10s linear infinite; /* Увеличена скорость */
  white-space: nowrap;
  font-size: 48px;
  font-weight: bold;
  color: #000;
}

.marquee-content span {
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
}

/* Точка-разделитель в бегущей строке */
.marquee-content span::after {
  content: "•";
  margin-left: 25px; /* Увеличил отступ, чтобы соответствовать margin-right */
  font-size: 48px;
  line-height: 1;
}

/* Анимация прокрутки */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    /* Анимация до -50% для дублированного контента */
    transform: translateX(-50%);
  }
}