/* src/components/sections/Team.css */

.font-unbounded {
  font-family: 'Unbounded', sans-serif;
}

/* Стили для плавно раскрывающегося контента 
.content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}
*/

/*
.content-wrapper.open {
  grid-template-rows: 1fr;  Конечная высота, чтобы вместить контент 
}
*/

/* Это заставит дочерний элемент правильно сжиматься и расширяться 
.content-wrapper > div {
    overflow: hidden;
}
*/